[Unit]
Description=Recall Me Notifications
Wants=recallme-notify.timer
After=network.target

[Service]
Type=oneshot
CPUQuota=10%
Environment="RECALL_ME_BOT_TOKEN=<YOUR-TOKEN-HERE>"
WorkingDirectory=/home/bot/recall_me
ExecStart=/home/bot/recall_me/scripts/notify.sh
User=bot
Group=bot

[Install]
WantedBy=multi-user.target
