[Unit]
Description=Recall Me telegram bot
After=network.target

[Service]
CPUQuota=25%
Environment="RECALL_ME_BOT_TOKEN=<YOUR-TOKEN-HERE>"
Type=idle
WorkingDirectory=/home/bot/recall_me
ExecStart=/home/bot/recall_me/scripts/run_recall_me.sh
Restart=always
User=bot
Group=bot

[Install]
WantedBy=multi-user.target
