[Unit]
Description=Recall Me Database Dump
Wants=recallme-pgdump.timer

[Service]
Type=oneshot
CPUQuota=5%
WorkingDirectory=/home/bot/recall_me
ExecStart=/home/bot/recall_me/scripts/pg_backup.sh

[Install]
WantedBy=multi-user.target
